version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sq-product-admin-server
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGODB_URI=mongodb+srv://jahirulislamshozib0_db_user:i5Kc4we2CrLTAYIO@cluster0.saoc7bo.mongodb.net/sq_ecom_DB?retryWrites=true&w=majority&appName=Cluster0
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
